#### IMPORTAMOS LIBRERIAS A USAR

In [1]:
import numpy as np
import pandas as pd

## Cargamos los datos a utilizar
Preview de los datos

In [4]:
data = pd.read_csv('data_credit.csv')
data.head()

,Gender,Age,Debt,Married,BankCustomer,Industry,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30.83,0.000,1,1,Industrials,White,1.25,1,1,1,0,ByBirth,202,0,1
1,0,58.67,4.460,1,1,Materials,Black,3.04,1,1,6,0,ByBirth,43,560,1
2,0,24.50,0.500,1,1,Materials,Black,1.50,1,0,0,0,ByBirth,280,824,1
3,1,27.83,1.540,1,1,Industrials,White,3.75,1,1,5,1,ByBirth,100,3,1
4,1,20.17,5.625,1,1,Industrials,White,1.71,1,0,0,0,ByOtherMeans,120,0,1

## Inicializamos los parámetros de la red neuronal

In [7]:
def parameter_initialization(n_h, n_x, n_y):
    
    # Donde n_h será el tamaño de la capa oculta
    # Tamaño de la capa de entrada
    # Tamaño de la capa de salida


    np.random.seed(1)

    W1 = np.random.randn(n_h, n_x) * 0.01
    b1 = np.zeros(shape=(n_h,1))
    W2 = np.random.randn(n_y, n_h) * 0.01
    b2 = np.zeros(shape=(n_y,1))

    parameters = {"W1": W1,
                  "b1": b1,
                  "W2": W2,
                  "b2":b2}
    
    return parameters

In [8]:
parameters = (parameter_initialization(2,2,1))
print("W1: \n",parameters["W1"])
print("B1: \n",parameters["b1"])
print("W2: \n",parameters["W2"])
print("B2: \n",parameters["b2"])

W1:
 [[ 0.01624345 -0.00611756]
 [-0.00528172 -0.01072969]]
B1:
 [[0.]
 [0.]]
W2:
 [[ 0.00865408 -0.02301539]]
B2:
 [[0.]]

### FORWARD PROPAGATION

#### ACTIVATION FUNCTIONS

In [4]:
def relu(x):
    return np.maximum(x,0)

### FORWARD PROPAGATION

In [2]:
def forward_p(A, W, b):
    Z = np.dot(W,A)+b
    cache = (A_prev,b)
    return Z, cache

In [3]:
def linear_activation_forward(A_prev, W,b,activation):##

    Z,linear_cache = forward_p(A_prev, W,b)
    A, activation_cache = relu(Z)
    cache = (linear_cache, activation_cache)
    
    return A, cache

### COST FUNCTION

In [7]:
def cost(AL, Y):##
    m = Y.shape[1]
    cost = (-1 / m) * np.sum(np.multiply(Y, np.log(AL)) + np.multiply(1 - Y, np.log(1 - AL)))
    cost = np.squeeze(cost)
    return cost

### BACKWARD PROPAGATION

In [16]:
def relu_backward(dA, cache):
    Z = cache
    dZ = np.array(dA, copy=True)
    dZ[Z <= 0] = 0
    return dZ

In [17]:
def backward_p(dZ, cache):##
    A_prev, W, b = cache
    m = A_prev.shape[1]
    dw = np.dot(dZ, cache[0].T)/m
    db = np.squeeze(np.sum(dZ, axis=1, keepdims=True)) / m
    dA_prev = np.dot(cache[1].T, dZ)
    return dA_prev, dW, db

In [18]:
def linear_activation_backward(dA, cache, activation):##
    linear_cache, activation_cache = cache
    dZ = relu_backward(dA, activation_cache)
    dA_prev, dW, db = linear_backward(dZ,linear_cache)
    return dA_prev, dW, db

### GRADIENT DESCENT TO UPDATE PARAMETERS

In [21]:
def gd_update_parameters(parameters, grads, learning_rate): ## 
    L = len(parameters)
    for l in range(L):
        parameters["W" + str(l + 1)] = parameters["W" + str(l + 1)] - learning_rate * grads["dW" + str(l + 1)]
        parameters["b" + str(l + 1)] = parameters["b" + str(l + 1)] - learning_rate * grads["db" + str(l + 1)]
        
    return parameters